# Evitar subir credenciales y archivos sensibles
service_account.json

# Archivos temporales o locales
__pycache__/
*.pyc
.env

# Carpetas ocultas de sistema
.DS_Store
.vscode/
.idea/

# Archivos generados por Streamlit
.streamlit/
